.menubar {
	width: 100%;
	padding: 20px;
	max-width: 100vw;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	height: 100px;
}

.user-info {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	gap: 2px;
	margin-right: 15px;
}