<top-bar />

<div class="main">
	<headline />
</div>

<div class="section-container flex flex-col justify-center items-center w-full">
	<div class="inner-container flex flex-col justify-center gap-15">
		<div class="flex flex-col gap-5">
			<h1 class="text-5xl font-bold">Technologies</h1>
			<div class="text-lg text-gray-400">
				I am proficient in a variety of technologies and tools. This is a selection of the ones I use most frequently, sorted by level of expertise.
			</div>
		</div>
		<tech-stack />
	</div>

	<div class="inner-container flex flex-col justify-center gap-15">
		<h1 class="text-5xl font-bold">Experience</h1>
		<experience-section />
	</div>
</div>