.main {
	width: 100%;
    display: flex;
	flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
	height: 80vh;
}

.section-container {
	width: 100%;
	padding: 5em 0;
	gap: 10em;

	.inner-container {
		width: 40%;
	}
}