.main {
	width: 100%;
    display: flex;
	flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
	gap: 100px;
}

.header {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 20px;
}