.main {
	width: 100%;
    display: flex;
	flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    box-sizing: inherit;
    position: relative;
	gap: 100px;
}

.title {
	font-size: 48px;
	font-weight: bold;
}