.experience-card {
	margin-bottom: 3em;
	padding: 1rem;
	// Frosted glass effect
	background: rgba(40, 40, 160, 0.2);
	border-radius: 10px;
	min-width: 600px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.company-link {
		font-size: 2em;
		font-weight: bold;
		color: #fff;
		cursor: pointer;
		
		&:hover {
			text-decoration: underline;
		}
	}

	.position {
		color: var(--p-slate-300);
	}

	.responsibilities {
		margin-top: 1em;
		margin-left: 1em;
		font-size: 1.1em;
		color: #ddd;

		li {
			margin-bottom: 0.8em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ul {
		list-style: disc;
	}

	.career {
		margin-top: 1em;
		font-size: 1em;
		color: var(--p-slate-400);

		&.single-career {
			margin-bottom: 1em;
		}
	}

	.career-event {
		margin-bottom: 1em;
	}
}

::ng-deep .p-timeline .p-timeline-event-opposite {
	display: none !important;
}