
.inner-container {
	text-align: center;

	.location {
		font-size: 1.1em;
		margin-bottom: 0.1em;
		color: #999;
		text-transform: uppercase;
		font-family: 'Fira Code', monospace;
	}

	.headline {
		font-size: 5em;
		font-weight: bold;
		margin: 0.2em 0;
		color: #fff;
	}

	.content {
		font-size: 1.3em;
		color: #ccc;
	}

	.actions {
		margin-top: 2.5em;
		font-size: 1.1em;

		display: flex;
		justify-content: center;
		gap: 4em;

		i {
			margin-right: 0.5em;
			font-size: 1em;
		}
	}
}